@charset "UTF-8";
@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "MontserratRegular";
  src: url(../fonts/Montserrat-Regular.ttf);
}
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a,
span,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "MontserratBold";
  padding: 0;
  margin: 0;
  color: #1F2041;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1875rem;
}

h3 {
  font-size: 0.75rem;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error {
  text-transform: none !important;
  color: #fc3636 !important;
  font-family: "MontserratRegular";
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

@media (max-width: 960px) {
  .error {
    font-size: 14px;
  }
}
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  border-top: 1px solid #C7C7CF;
  background-color: #F6F6F7;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0 30px;
  padding-bottom: 100px;
}

.footer__logo {
  padding-top: 16px;
  max-width: 260px;
}

.footer__logo-text {
  color: #575871;
  font-size: 0.875rem;
  font-family: "MontserratRegular";
  line-height: 1.5rem;
  margin: 0;
  margin-top: 6px;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer__list:nth-child(2) {
  white-space: nowrap;
}
.footer__list:nth-child(3) {
  white-space: nowrap;
}
.footer__list:nth-child(4) {
  white-space: nowrap;
  justify-self: center;
}
.footer__list:nth-child(5) {
  justify-self: center;
}

.footer__item {
  color: #8F90A0;
  font-size: 0.875rem;
  font-family: "MontserratRegular";
  margin: 26px 0;
}

.footer__item_active {
  font-family: "MontserratBold";
  color: #1F2041;
  text-transform: uppercase;
}

.footer__list-subscribe {
  max-width: 260px;
}

.footer__copy {
  border-top: 1px solid #C7C7CF;
  height: 72px;
}

.footer__copy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

.footer__copy-left p {
  color: #575871;
  font-size: 0.875rem;
  font-family: "MontserratRegular";
}

.footer__copy-right {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  .footer__wrapper {
    grid-template-columns: 260px auto auto;
    grid-template-rows: auto auto;
    grid-gap: 30px;
  }

  .footer__logo {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer__list:nth-child(2) {
    justify-self: start;
  }
  .footer__list:nth-child(3) {
    justify-self: center;
  }
  .footer__list:nth-child(5) {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: center;
  }

  .footer__list-subscribe {
    max-width: 100%;
  }
}
@media (max-width: 760px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 15px 0;
  }

  .footer__logo {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .footer__list:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
  }
  .footer__list:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
  }
  .footer__list:nth-child(4) {
    justify-self: start;
  }
  .footer__list:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
    justify-self: start;
  }
}
@media (max-width: 400px) {
  .footer__copy-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header {
  padding-left: 15px;
  padding-right: 15px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  width: 100%;
  height: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__menu {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 25px;
}

.header__item {
  color: #8F90A0;
  font-size: 0.875rem;
  font-family: "MontserratRegular";
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__item:hover {
  cursor: pointer;
  opacity: 50%;
}
.header__item:nth-child(2) {
  width: 67px;
}
.header__item:nth-child(5) {
  width: 109px;
}

.header__item_display-none {
  display: none;
}

.header__item_arrow {
  position: relative;
}
.header__item_arrow::after {
  content: "❮";
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header__item_arrow:hover::after {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

.header__item_active {
  color: #575871;
  font-family: "MontserratBold";
}

.header__menu-btn {
  max-width: 310px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-gap: 0 23px;
}

.header__menu-сaesar {
  max-width: 120px;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #C7C7CF;
}
.header__menu-сaesar span {
  color: #8F90A0;
  font-size: 0.875rem;
  font-family: "MontserratRegular";
}

.burger__menu {
  display: none;
  height: 100%;
  width: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
.burger__menu:hover {
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  margin-bottom: 3px;
  border-radius: 5px;
}

.animation__burger .burger__item:nth-child(1) {
  margin: 0;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.animation__burger .burger__item:nth-child(2) {
  margin: 0;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.animation__burger .burger__item:nth-child(3) {
  display: none;
}

@media (min-width: 961px) {
  .header__menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (max-width: 960px) {
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu {
    display: none;
    padding: 30px 30px 45px 30px;
    height: auto;
    margin: 0;
    max-width: none;
    width: 100%;
    top: 70px;
    right: 0;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #8BA4F9;
    z-index: 100;
  }
  .header__menu .header__item {
    width: 100%;
    display: inline-block;
    color: white;
    padding: 12px 0;
    border-bottom: 1px solid #f7f6f6;
  }
  .header__menu .header__item:hover {
    opacity: 1;
  }

  .header__item_arrow::after {
    top: 12px;
    right: 6px;
  }

  .header__item_display-none {
    display: inline-block;
  }

  .header__menu-btn {
    display: none;
  }
}
.buttons-general {
  position: relative;
  height: 100%;
}

.buttons-general__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  outline: none;
  border: none;
  font-family: "MontserratBold";
  font-size: 0.75rem;
  height: 100%;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttons-general__btn-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: white;
}

.buttons-general__btn_hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.buttons-general__btn_hover:hover {
  opacity: 50%;
}

.buttons-general__btn_width {
  width: 100px;
}

.buttons-general__block-border {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  padding: 2px;
  border-radius: 30px;
}

.buttons-general__btn-border {
  background-color: white;
  color: #BC9CFF;
}

.buttons-general__btn-border-width {
  width: 87px;
  height: 32px;
}

.buttons-general__btn_hover-border:hover {
  cursor: pointer;
  color: #dacbfc;
}

.buttons-general__btn-no-border {
  background-color: white;
  color: #BC9CFF;
}

.buttons-general__btn_click:hover {
  cursor: pointer;
}
.buttons-general__btn_click:focus {
  color: #8F90A0;
}

.buttons-general__btn-big_width {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.buttons-general__big-arrow {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 0;
  right: 15px;
  top: 0;
}
.buttons-general__big-arrow svg path {
  fill: white;
}
.buttons-general__big-arrow:hover {
  cursor: pointer;
}

@media (max-width: 960px) {
  .buttons-general__big-arrow {
    display: none;
  }
}
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.text label {
  text-transform: uppercase;
}

.text__global {
  border: 1px solid #C7C7CF;
  border-radius: 0.5em;
  outline: none;
  font-size: 0.875rem;
  margin-top: 0.5em;
  padding: 1em 0;
  padding-left: 1em;
  width: 100%;
}

.text__global_hover-focus:hover {
  border-color: #8F90A0;
}
.text__global_hover-focus:focus {
  border-color: #8F90A0;
}
.text__global_hover-focus:focus::-webkit-input-placeholder {
  opacity: 0;
}
.text__global_hover-focus:focus::-moz-placeholder {
  opacity: 0;
}
.text__global_hover-focus:focus:-ms-input-placeholder {
  opacity: 0;
}
.text__global_hover-focus:focus::-ms-input-placeholder {
  opacity: 0;
}
.text__global_hover-focus:focus::placeholder {
  opacity: 0;
}

.text__heading-registr {
  margin-bottom: 25px;
}

@media (max-width: 960px) {
  .text__heading-registr {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
}
.text__wrapper-block {
  position: relative;
}

.room {
  width: 100%;
  max-width: 270px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.room__box {
  opacity: 0;
  width: calc(100% - 80px);
  height: calc(100% - 115px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 11;
}
.room__box:hover {
  cursor: pointer;
}

.room__up {
  height: 150px;
  position: relative;
  overflow: hidden;
}

.room__image {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room__slider-item {
  display: inline-block;
  height: 150px;
  width: 100%;
  border-top-left-radius: 5px;
  position: relative;
}
.room__slider-item img {
  width: 100%;
  position: absolute;
  top: -18px;
  left: 0;
}
.room__slider-item:nth-child(1) {
  background-color: black;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.room__slider-item:nth-child(1)::after {
  content: " ";
  display: block;
  background-color: black;
  opacity: 25%;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.room__slider-item:nth-child(2) {
  background-color: #f57474;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 100vh;
}
.room__slider-item:nth-child(3) {
  background-color: #7ef7c4;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 100vh;
}
.room__slider-item:nth-child(4) {
  background-color: #d785fd;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  height: 100vh;
}

.room__arrow {
  width: 100%;
  height: 44px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room__arrow-item {
  display: block;
  width: 30px;
  height: 30px;
  z-index: 50;
}
.room__arrow-item:nth-child(1) {
  margin-left: 20px;
}
.room__arrow-item:nth-child(2) {
  margin-right: 20px;
  position: relative;
}
.room__arrow-item:nth-child(2)::after {
  content: "❮";
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 22px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.room__arrow-item:hover {
  cursor: pointer;
}

.room__circle {
  height: 8px;
  width: 42px;
  position: absolute;
  right: 20px;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room__circle-item {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 100%;
}
.room__circle-item:hover {
  cursor: pointer;
}

.room__circle-active {
  background-color: white;
}

.room__main {
  padding: 15px 15px 15px 15px;
}

.room__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 15px;
}

.room__info-item-right:nth-child(1) {
  font-size: 0.875rem;
  font-family: "MontserratBold";
  color: #8F90A0;
  margin-right: 5px;
}
.room__info-item-right:nth-child(2) {
  font-size: 0.75rem;
  font-family: "MontserratRegular";
  color: #8F90A0;
}

.room__info-item-left:nth-child(1) {
  font-size: 0.875rem;
  font-family: "MontserratBold";
}
.room__info-item-left:nth-child(2) {
  font-size: 1.5rem;
  font-family: "MontserratBold";
  margin-left: 3px;
  margin-right: 5px;
}
.room__info-item-left:nth-child(3) {
  font-size: 0.75rem;
  font-family: "MontserratBold";
  color: #BC9CFF;
}

.room__footer {
  border-top: 1px solid #C7C7CF;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.room__review {
  padding-bottom: 3px;
}

.room__footer-item:nth-child(1) {
  font-size: 0.875rem;
  font-family: "MontserratBold";
  color: #8F90A0;
  margin-right: 5px;
}
.room__footer-item:nth-child(2) {
  font-size: 0.875rem;
  font-family: "MontserratRegular";
  color: #8F90A0;
}

.rate {
  display: inline-block;
}

.rate__body {
  position: relative;
}
.rate__body::before {
  content: "★★★★★";
  width: 100%;
  height: 100%;
  font-size: 24px;
  -webkit-text-stroke-color: #BC9CFF;
  -webkit-text-stroke-width: 1px;
  color: white;
  letter-spacing: 3px;
}

.rate__active {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #BC9CFF;
}
.rate__active::before {
  content: "★★★★★";
  display: block;
  font-size: 24px;
  overflow: hidden;
  letter-spacing: 3px;
}

.rate__inputs {
  position: absolute;
  top: 9px;
  left: 1px;
  width: 100%;
}
.rate__inputs:hover {
  cursor: pointer;
}

.rate__input {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  margin: 0;
  width: 19px;
  height: 19px;
}
.rate__input:hover {
  cursor: pointer;
}

.drop-downs-filter {
  position: relative;
}

.drop-downs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  position: relative;
}

.drop-downs__global {
  height: 44px;
  width: 100%;
  border: 1px solid #C7C7CF;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding-left: 1em;
  margin-top: 0.5em;
  color: #575871;
  font-family: "MontserratRegular";
  position: relative;
}

.drop-downs__global-arrow {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 38%;
  right: 0;
}
.drop-downs__global-arrow::after {
  content: " ";
  border: 1px solid #575871;
  border-width: 0 2px 2px 0;
  height: 5px;
  width: 5px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drop-downs__global-arrow:hover {
  cursor: pointer;
}

.drop-downs__global-text {
  font-size: 0.875rem;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop-downs__global-heading {
  text-transform: uppercase;
}

.drop-downs__open-btn .drop-downs__buttons-item:first-child {
  display: block;
}
.drop-downs__open-btn .drop-downs__buttons-item:last-child {
  position: absolute;
  right: 0;
}

.drop-downs__buttons-item {
  color: #BC9CFF;
}
.drop-downs__buttons-item:first-child {
  display: none;
  position: absolute;
  left: 0;
}
.drop-downs__buttons-item:last-child {
  position: absolute;
  right: 0;
}

.drop-downs__buttons-item_hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.calendar {
  height: 400px;
  padding-bottom: 15px;
  margin-top: 5px;
  min-width: 285px;
  width: 100%;
  max-width: 320px;
  border: 1px solid #C7C7CF;
  display: none;
  background-color: white;
  position: absolute;
  top: 70px;
  z-index: 1000;
}

.calendar-filter {
  min-width: 310px;
}

.calendar__up {
  position: relative;
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
}

.calendar__arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 18px;
}
.calendar__arrow-right:hover {
  cursor: pointer;
  opacity: 50%;
}

.calendar__arrow-left {
  height: 18px;
}
.calendar__arrow-left:hover {
  cursor: pointer;
  opacity: 50%;
}

.calendar__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 255px;
  margin: 0 auto;
  margin-top: 40px;
}

.calendar__week-item {
  color: #BC9CFF;
  font-size: 0.75rem;
  font-family: "MontserratBold";
}

.calednar__days {
  margin: 0 auto;
  padding-top: 25px;
  max-width: 270px;
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-template-rows: repeat(5, 40px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calednar__days-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-family: "MontserratRegular";
  color: #8F90A0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.calednar__days-item:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: #F3F4F5;
}

.calednar__days-item_light {
  background: -webkit-gradient(linear, left top, left bottom, from(#E3E8FE), to(#EEE6FF));
  background: linear-gradient(#E3E8FE, #EEE6FF);
  color: #8F90A0;
  border-radius: 0;
}

.calednar__days-item_focus-left {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: #F3F4F5;
  position: relative;
}
.calednar__days-item_focus-left::after {
  content: " ";
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#E3E8FE), to(#EEE6FF));
  background: linear-gradient(#E3E8FE, #EEE6FF);
  color: #8F90A0;
  width: 20px;
  height: 40px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.calednar__days-item_focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: #F3F4F5;
}

.calednar__days-item_focus-right {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: #F3F4F5;
  position: relative;
}
.calednar__days-item_focus-right::after {
  content: " ";
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#E3E8FE), to(#EEE6FF));
  background: linear-gradient(#E3E8FE, #EEE6FF);
  color: #8F90A0;
  width: 20px;
  height: 40px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.calendar__footer {
  position: absolute;
  left: 0;
  bottom: 15px;
  right: 0;
  max-width: 255px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar__buttons-item {
  color: #BC9CFF;
}

.calendar__buttons-item_hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.calendar__prev-item {
  opacity: 0.5;
}

.calendar__days-today {
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#8BA4F9));
  background: linear-gradient(#6FCF97, #8BA4F9);
  color: #F3F4F5;
}

@media (max-width: 400px) {
  .calendar {
    left: -27px;
  }
}
.drop-downs__block-general {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  width: 100%;
  background-color: white;
  z-index: 800;
  padding-left: 0.6em;
  padding-right: 0.4em;
  padding-bottom: 1.5em;
  border: 1px solid #C7C7CF;
  position: absolute;
  top: 66px;
}

.drop-downs__open {
  display: block;
}

.drop-downs__block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6em 0;
}
.drop-downs__block-row span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8F90A0;
  height: 30px;
  width: 30px;
  border: 1px solid #8F90A0;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.drop-downs__block-row span:hover {
  cursor: pointer;
}
.drop-downs__block-row span:active {
  color: #575871;
  border-color: #575871;
}

.drop-downs__minus_no-active {
  opacity: 0.5;
}

.drop-downs__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100px;
  width: 100%;
}

.drop-downs__guest {
  position: relative;
}

.drop-downs__buttons-guest {
  width: 100%;
  position: relative;
  margin-top: 0.6em;
}

.drop-downs__minus_active {
  opacity: 1;
}

.drop-downs__general_width {
  max-width: 266px;
}

.range-slider {
  max-width: 310px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px;
  margin-bottom: 10px;
}

.range-slider__heading {
  grid-column: 1/2;
  grid-row: 1/2;
}

.range-slider__text {
  justify-self: end;
  grid-column: 2/3;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100px;
  width: 100%;
}

.range-slider__item-text {
  font-size: 0.75rem;
  font-family: "MontserratRegular";
  color: #8F90A0;
}

.range-slider__block {
  margin-top: 25px;
  grid-column: 1/3;
  grid-row: 2/3;
}

.noUi-target {
  height: 8px;
}

.noUi-base .noUi-connects {
  background-color: white;
}

.noUi-horizontal .noUi-handle {
  right: -10px;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

/* Not my stile !!!!!!!!!!!!!!!!!!--------------------- *
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  top: -5px;
  border: 2px solid white;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(#6FCF97, #66D2EA);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.noUi-horizontal .noUi-handle::after {
  content: none;
}
.noUi-horizontal .noUi-handle::before {
  content: none;
}
.noUi-horizontal .noUi-handle:hover {
  cursor: pointer;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
          box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.check-box__buttons-rich {
  max-width: 300px;
}
.check-box__buttons-rich .check-box__buttons-rich-text {
  max-width: 100%;
}

.check-box__buttons-rich-title {
  font-size: 0.875rem;
  margin-left: 40px;
}

.check-box__buttons-rich-label {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.check-box__buttons {
  max-width: 240px;
}

.check-box__list-wrapper {
  max-width: 260px;
  width: 100%;
  position: relative;
}

.check-box__list {
  display: none;
  margin-top: 25px;
}

.check-box__list-arrow {
  display: block;
  position: absolute;
  top: 2px;
  right: 5px;
  content: " ";
  border: 1px solid #575871;
  border-width: 0 2px 2px 0;
  height: 8px;
  width: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.check-box__list-arrow-model {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.check-box__list-arrow-model:hover {
  cursor: pointer;
}

.check-box__item {
  margin-bottom: 7px;
}
.check-box__item p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.check-box__label {
  position: relative;
  font-family: "MontserratRegular";
  font-size: 0.875rem;
  color: #8F90A0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.check-box__label p {
  display: block;
  max-width: 200px;
  margin-left: 40px;
}

.check-box__input {
  display: none;
}
.check-box__input:checked + .check-box__fake {
  border-color: #BC9CFF;
}
.check-box__input:checked + .check-box__fake::after {
  content: "✔";
}
.check-box__input:hover + .check-box__fake {
  cursor: pointer;
  border-color: #BC9CFF;
}

.check-box__fake {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #C7C7CF;
  border-radius: 5px;
}
.check-box__fake::after {
  color: #BC9CFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-box__heading {
  margin-bottom: 22px;
}

.pagination {
  max-width: 250px;
}

.pagination__title {
  margin-bottom: 20px;
}

.pagination__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 0.75rem;
  font-family: "MontserratRegular";
  color: #8F90A0;
}
.pagination__item:hover {
  cursor: pointer;
}

.pagination__active {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  color: white;
}

.pagination__arrow {
  position: relative;
}

.pagination__arrow-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#8BA4F9));
  background: linear-gradient(#6FCF97, #8BA4F9);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pagination__arrow-item svg {
  position: relative;
  left: 1.5px;
}
.pagination__arrow-item svg path {
  fill: white;
}
.pagination__arrow-item:hover {
  cursor: pointer;
  opacity: 50%;
}

.pagination__footer {
  padding-left: 8px;
}

.pagination__text {
  font-size: 0.875rem;
  font-family: "MontserratRegular";
  color: #575871;
}

.main-second {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #F6F6F7;
  padding-left: 15px;
  padding-right: 15px;
}

.main-second__wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(300px, auto);
  grid-template-rows: auto 80px;
  grid-gap: 25px 0;
}

.aside {
  display: block;
  grid-row: 1/2;
  max-width: 266px;
  position: relative;
}

.aside__filter-btn {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 20px;
  height: 43px;
}
.aside__filter-btn span {
  font-family: "MontserratRegular";
  font-size: 1rem;
  margin-left: 40px;
}

.asside__filter-img {
  bottom: 11px;
  left: 17px;
  position: absolute;
  width: 15px;
}

.aside__filter-end {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 23px;
}

.main-second__guest {
  margin: 25px 0;
}

.main-second__range-slider {
  margin: 25px 0;
}

.main-second__range-slider-text {
  font-family: "MontserratRegular";
  font-size: 0.75rem;
  color: #8F90A0;
}

.main-second__rules-list {
  margin: 25px 0;
}

.main-second__reach-list {
  margin: 25px 0;
}

.main-second__comfort-check {
  margin: 25px 0;
}

.main-second__comfort-extra {
  margin-top: 25px;
}

.main-second__all-rooms {
  padding-top: 50px;
  position: relative;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px 15px;
}

.main-second__pagination {
  grid-column: 2/3;
  justify-self: center;
}

.main-second__heading {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1200px) {
  .main-second__wrapper {
    grid-template-columns: 270px auto;
    grid-gap: 0 60px;
  }

  .room {
    max-width: 360px;
    justify-self: center;
  }

  .room__image {
    width: 1440px;
  }

  .main-second__all-rooms {
    justify-self: center;
    grid-template-columns: auto auto;
  }

  .main-second__heading h1 {
    font-size: 1.25rem;
  }
}
@media (max-width: 890px) {
  .main-second__wrapper {
    grid-template-columns: 270px auto;
    grid-gap: 0 60px;
  }

  .room {
    max-width: 420px;
  }

  .room__up {
    height: 220px;
  }

  .room__image {
    width: 1690px;
  }

  .main-second__all-rooms {
    grid-template-columns: auto;
  }
}
@media (max-width: 650px) {
  .aside {
    display: none;
    width: 100%;
    background-color: white;
    max-width: none;
    position: absolute;
    z-index: 1000;
    top: 165px;
    left: 0;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 1100px;
  }

  .main-second__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px 20px;
  }

  .main-second__heading h1 {
    font-size: 1.1rem;
  }

  .main-second__all-rooms {
    padding-top: 50px;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .aside__filter-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    grid-column: 1/3;
  }

  .main-second__pagination {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

/*# sourceMappingURL=second.css.map*/